.counter{
    display: flex;
    gap: 1rem;
    font-size: 10px;
}
button{
    border: 1px solid blue;
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
}